.site-bottom {
    padding-top: $spacer * 2;
    color: color("white");
    position: relative;

    &::before {
        content: "";
        display: block;
        // height: to-rem(168px);
        background: linear-gradient(to bottom, transparent, rgba(color("black"), 0.4));
        position: absolute;
        top: to-rem(-20px);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        mix-blend-mode: multiply;
    }

    @include media-desktop {
        padding-top: to-rem(50px);
        background-size: cover;
    }

    &-inner {
        padding-bottom: 90px;

        @include media-desktop {
            padding-bottom: 0;
            padding-left: to-rem(150px);
        }
    }

    .bottom-text {
        max-width: to-rem(1398px);
        margin: auto;
        font-size: to-rem(34px);
        font-weight: 600;
        line-height: decimal-round(38/34);
        text-align: center;
        text-shadow: 0 0 12px rgba(color("black"), 33%);
        position: relative;
        top: -0.25em;
    }
}

.site-footer {
    padding-top: $spacer * 1.5;
    // font-size: 16px;
    font-size: round(16px * .85);
    text-align: center;
    color: #424242;
    background: color("white");
    position: relative;
    z-index: 1;


    @include media-desktop {
        font-size: to-rem(16px);
        padding-bottom: $spacer;
    }

    &-inner {
        @include media-desktop {
            display: flex;
            justify-content: space-around;
        }
    }

    ul {
        @include list-unstyled;

        @include media-not-phone {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        li {
            + li {
                @include media-not-phone {
                    display: contents;

                    &::before {
                        content: "";
                        height: 1em;
                        border-left: 1px solid #707070;
                        margin: 0 1rem;
                    }
                }
                @include media-desktop {
                    &::before {
                        height: to-em(30, 16);
                    }
                }
            }
        }
    }

    .logo {
        $area-width: 213px;
        $logo-width: 196px;
        $logo-height: 153px;
        $logo-top: -110px;

        width: round($area-width * .85);
        margin-top: round($logo-top * .85);

        &::before {
            content: "";
            display: block;
            width: percentage($logo-width/$area-width);
            padding-top: percentage($logo-height/$area-width);
            @include bg-img("logo-footer.png", "logo-footer@2x.png");
        }

        @include media-desktop {
            width: to-rem($area-width);
            margin-top: to-rem($logo-top);
        }

        &-wrapper {
            display: inline-block;
            margin-bottom: $spacer/2;
            position: relative;

            @include media-desktop {
                margin-right: to-rem($logo-width - $area-width);
            }

            $diamter: 360px;
            $top_off: -132px;
            &::before {
                content: "";
                display: block;
                width: round($diamter * .85);
                height: round($diamter * .85);
                background-color: color("white");
                border-radius: 50%;
                @include position-center(x);
                top: -125px;
                top: round($top_off * .85);
                z-index: -1;

                @include media-desktop {
                    width: to-rem($diamter);
                    height: to-rem($diamter);
                    top: to-rem($top_off);
                }
            }
        }
    }

    .site-contact {
        align-items: center;
        font-size: inherit;
        
        @include media-not-phone {
            flex-direction: row;
        }
    }

    .copyright {
        a {
            color: inherit;
            font-weight: inherit;
        }
    }

    .powered {
        font-size: to-em(15, 16);
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            &::after {
                content: "\00a0";
            }
        }

        a {
            display: block;
            // width: 203px;
            width: round(203px * .85);
            @include text2img("365dtm-logo.png", "365dtm-logo@2x.png");

            &::before {
                content: "";
                display: block;
                padding-top: percentage(36/203);
            }

            @include media-desktop {
                width: to-rem(203px);
            }
        }
    }
}