.page-adhesives {
    @include media-desktop {
        .content-header-text {
            left: 12.5%;
            right: 6.25%;

            .container {
                max-width: to-rem(1030px);
                margin-left: 0;
            }
        }
    }

    .list-card {
        > li {
            .card-title {
                @include card-title-max(395px);
            }

            &:nth-child(1) {
                .card-body {
                    @include card-body-max(543px);
                }
            }
            &:nth-child(3) {
                .card-body {
                    @include card-body-max(539px);
                }
            }
            &:nth-child(4) {
                .card-body {
                    @include card-body-max(559px);
                }
            }
        }
    }
}
