.page-floor-prep {
    @include media-desktop {
        .content-header-text {
            left: 12.5%;
            right: 6.25%;
        }
    }

    #moisture-defense-system {
        .list-card {
            > li {
                &:nth-child(1) {
                    .card-body {
                        @include card-body-max(593px);
                    }
                }
                &:nth-child(4) {
                    .card-title {
                        @include card-title-max(481px);
                    }
                }
                &:nth-child(5) {
                    .card-body {
                        @include card-body-max(466px);
                    }
                }
                &:nth-child(6) {
                    .card-body {
                        @include card-body-max(527px);
                    }
                }
                &:nth-child(7) {
                    .card-body {
                        @include card-body-max(557px);
                    }
                }
            }
        }

        .image-card-float {
            width: percentage(662/729);
            transform: translate(percentage(-60/662), percentage(64/393));
        }
    }

    #joint-treatments {
        .list-card {
            > li {
                &:nth-child(2) {
                    .card-body {
                        @include card-body-max(515px);
                    }
                }
            }
        }
    }

    #primers-sealers {
        .list-card {
            > li {
                &:nth-child(2) {
                    .card-body {
                        @include card-body-max(515px);
                    }
                }
                &:nth-child(3) {
                    .card-body {
                        @include media-desktop {
                            padding-left: to-rem(38px);
                            padding-right: to-rem(38px);
                        }
                    }
                }
            }
        }
    }

    #self-levelers-patches {
        .list-card {
            > li {
                &:nth-child(1) {
                    .card-body {
                        @include card-body-max(501px);
                    }
                }
                &:nth-child(2) {
                    .card-body {
                        @include card-body-max(557px);
                    }
                }
            }
        }
    }
}
