.page-installation-guides {
    @include media-desktop {
        .content-header-text {
            background: linear-gradient(35deg, transparent 25%, rgba(color("black"), 0.81));
            left: -5%;
            right: 12.5% + 25%;

            &::before {
                left: auto;
                right: -0.5px;
            }

            .container {
                padding-left: to-rem(50px);
                padding-right: to-rem(50px);
            }

            .page-title {
                justify-content: flex-start;
            }
        }
    }

    .list-card {
        > li {
            &:nth-child(1) {
                .card-body {
                    @include card-body-max(567px);
                }
            }
        }
    }
}
