.page-transitions {
    @include media-desktop {
        .content-header-text {
            left: 12.5%;
            right: 6.25%;

            .container {
                min-height: to-rem(151px);
            }
        }

        .card-body {
            min-height: to-rem(220px);
        }
    }

    .list-card {
        > li {
            &:nth-child(1) {
                .card-body {
                    @include card-body-max(509px);
                }
            }
            &:nth-child(2) {
                .card-body {
                    // @include card-body-max(505px);
                    @include card-body-max(565px);

                    > *:not(.card-title) {
                        max-width: to-em(505px, $base-font-size);
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            &:nth-child(3) {
                .card-body {
                    @include card-body-max(577px);
                }
            }
            &:nth-child(5) {
                .card-body {
                    @include card-body-max(545px);
                }
            }
            &:nth-child(6) {
                .card-body {
                    @include card-body-max(567px);
                }
            }
            &:nth-child(7) {
                .card-body {
                    @include card-body-max(539px);
                }
            }
            &:nth-child(8) {
                .card-body {
                    @include media-desktop {
                        padding-left: to-rem(39px);
                        padding-right: to-rem(39px);
                    }
                }
            }
            &:nth-child(9) {
                .card-body {
                    @include card-body-max(509px);
                }
            }
            &:nth-child(11) {
                .card-body {
                    @include card-body-max(577px);
                }
            }
            &:nth-child(12) {
                .card-body {
                    @include card-body-max(505px);
                }
            }
        }
    }
}
